a {
  text-decoration: underline;
}

.markdown-body h1 {
  border-bottom: none;
}

pre,
.hljs {
  background-color: #0c0c0e !important;
}

.hljs-comment {
  color: #cacfe2 !important;
}

.markdown-body blockquote {
  color: #3a333d;
  font-size: large;
}

.hljs-copy-wrapper {
  position: relative;
}

.hljs-copy-button {
  position: absolute;
  top: 1em;
  right: 1em;
  color: whitesmoke;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.hljs-copy-alert {
  display: none !important;
}

.header {
  border-bottom: 1px solid #9D9D9D;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fafafa;
}

.nav {
  height: 50px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.hamburger-button {
  border: none;
  background: none;
  padding: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
}

.sub-nav-container {
  background: #f0f0f0;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.35s;
}

.sub-nav {
  overflow-y: hidden;
  visibility: hidden;
}

.nav-hamburger-icon,
.nav-close-icon {
  display: none;
}

.sub-nav-container.open {
  grid-template-rows: 1fr;
}

.sub-nav.visible {
  visibility: visible;
}

.nav-hamburger-icon.visible,
.nav-close-icon.visible {
  display: block;
}

.sub-nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sub-nav-lesson-panel {
  width: 100%;
}

#sub-nav-lesson-panel > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 12px 0;
}

#sub-nav-lesson-panel a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #222222;
}

#sub-nav-lesson-panel a:hover {
  color: #E41F26;
}

@media screen and (prefers-reduced-motion: reduce) {
  .sub-nav-container {
    transition: none
  }
}
