.markdown-body h1 {
  border-bottom: none;
}

pre,
.hljs {
  background-color: #0c0c0e !important;
}

.hljs-comment {
  color: #cacfe2 !important;
}

.markdown-body blockquote {
  color: #3a333d;
  font-size: large;
}

.hljs-copy-wrapper {
  position: relative;
}

.hljs-copy-button {
  position: absolute;
  top: 1em;
  right: 1em;
  color: whitesmoke;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.hljs-copy-alert {
  display: none !important;
}
